// Colors

$clr1: #ffffff;
$clr2: #f7fcfb;
$clr3: #d7d7d7;
$clr4: #2c2b2a;
$clr5: #31a893;
$clr6: #f9dfdf;
$clr7: #363636;
$clr8: #f8f8f8;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1160px;
